---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts
    method: GET
  response:
    body: '{"id":9,"name":"noalerts","full_name":"acme/noalerts","owner":{"login":"acme"},"default_branch":"main","archived":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 1
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts/git/trees/main?recursive=1
    method: GET
  response:
    body: '{"sha":"5e6f7a","tree":[{"path":"package.json","type":"blob"},{"path":".github/dependabot.yml","type":"blob"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 2
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts/contents/.github/dependabot.yml?ref=main
    method: GET
  response:
    body: '{"type":"file","encoding":"base64","name":"dependabot.yml","path":".github/dependabot.yml","content":"dmVyc2lvbjogMgp1cGRhdGVzOgogIC0gcGFja2FnZS1lY29zeXN0ZW06ICJucG0iCiAgICBkaXJlY3Rvcnk6ICIvIgogICAgc2NoZWR1bGU6CiAgICAgIGludGVydmFsOiAid2Vla2x5Igo="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 3
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts/automated-security-fixes
    method: GET
  response:
    body: '{"enabled":true,"paused":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 4
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts/dependabot/alerts?per_page=100&state=open
    method: GET
  response:
    body: '{"message":"Dependabot alerts are disabled for this repository.","documentation_url":"https://docs.github.com/rest/dependabot/alerts"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 403 Forbidden
    code: 403
- id: 5
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts/pulls?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 6
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts/pulls?per_page=100&state=closed
    method: GET
  response:
    body: '[{"number":50,"state":"closed","title":"Bump left-pad from 1.0.0 to 1.0.1","user":{"login":"dependabot[bot]"},"created_at":"2026-07-30T09:00:00Z","merged_at":"2026-07-30T10:00:00Z","head":{"ref":"dependabot/npm_and_yarn/left-pad-1.0.1","sha":"dd44"},"base":{"ref":"main"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 7
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/noalerts/commits?author=dependabot%5Bbot%5D&per_page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
