---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck
    method: GET
  response:
    body: '{"id":9,"name":"stuck","full_name":"acme/stuck","owner":{"login":"acme"},"default_branch":"main","archived":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 1
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/git/trees/main?recursive=1
    method: GET
  response:
    body: '{"sha":"5e6f7a","tree":[{"path":"package.json","type":"blob"},{"path":".github/dependabot.yml","type":"blob"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 2
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/contents/.github/dependabot.yml?ref=main
    method: GET
  response:
    body: '{"type":"file","encoding":"base64","name":"dependabot.yml","path":".github/dependabot.yml","content":"dmVyc2lvbjogMgp1cGRhdGVzOgogIC0gcGFja2FnZS1lY29zeXN0ZW06ICJucG0iCiAgICBkaXJlY3Rvcnk6ICIvIgogICAgc2NoZWR1bGU6CiAgICAgIGludGVydmFsOiAid2Vla2x5Igo="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 3
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/automated-security-fixes
    method: GET
  response:
    body: '{"enabled":true,"paused":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 4
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/dependabot/alerts?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 5
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/dependabot/alerts?per_page=100&state=fixed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 6
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/pulls?per_page=100&state=open
    method: GET
  response:
    body: '[{"number":80,"state":"open","title":"Bump ci-dep from 1.0.0 to 1.1.0","user":{"login":"dependabot[bot]"},"created_at":"2026-07-28T12:00:00Z","head":{"ref":"dependabot/npm_and_yarn/ci-dep-1.1.0","sha":"aa8001"},"base":{"ref":"main"}},{"number":81,"state":"open","title":"Bump conflict-dep from 2.0.0 to 2.1.0","user":{"login":"dependabot[bot]"},"created_at":"2026-07-28T12:00:00Z","head":{"ref":"dependabot/npm_and_yarn/conflict-dep-2.1.0","sha":"bb8101"},"base":{"ref":"main"}},{"number":82,"state":"open","title":"Bump review-dep from 3.0.0 to 3.1.0","user":{"login":"dependabot[bot]"},"created_at":"2026-07-28T12:00:00Z","head":{"ref":"dependabot/npm_and_yarn/review-dep-3.1.0","sha":"cc8201"},"base":{"ref":"main"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 7
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/pulls?per_page=100&state=closed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 8
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/pulls/80
    method: GET
  response:
    body: '{"number":80,"state":"open","title":"Bump ci-dep from 1.0.0 to 1.1.0","user":{"login":"dependabot[bot]"},"created_at":"2026-07-28T12:00:00Z","mergeable":true,"mergeable_state":"clean","head":{"ref":"dependabot/npm_and_yarn/ci-dep-1.1.0","sha":"aa8001"},"base":{"ref":"main"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 9
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/pulls/80/reviews?per_page=100
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 10
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/commits/aa8001/check-runs
    method: GET
  response:
    body: '{"total_count":2,"check_runs":[{"id":1,"name":"test","status":"completed","conclusion":"failure"},{"id":2,"name":"lint","status":"completed","conclusion":"success"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
[...]
- id: 15
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/stuck/pulls/82/reviews?per_page=100
    method: GET
  response:
    body: '[{"id":9,"state":"CHANGES_REQUESTED","user":{"login":"alice"},"submitted_at":"2026-07-29T08:00:00Z"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
[...]
