---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted
    method: GET
  response:
    body: '{"id":9,"name":"reverted","full_name":"acme/reverted","owner":{"login":"acme"},"default_branch":"main","archived":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 1
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/git/trees/main?recursive=1
    method: GET
  response:
    body: '{"sha":"6f7a8b","tree":[{"path":"package.json","type":"blob"},{"path":".github/dependabot.yml","type":"blob"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 2
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/contents/.github/dependabot.yml?ref=main
    method: GET
  response:
    body: '{"type":"file","encoding":"base64","name":"dependabot.yml","path":".github/dependabot.yml","content":"dmVyc2lvbjogMgp1cGRhdGVzOgogIC0gcGFja2FnZS1lY29zeXN0ZW06ICJucG0iCiAgICBkaXJlY3Rvcnk6ICIvIgogICAgc2NoZWR1bGU6CiAgICAgIGludGVydmFsOiAid2Vla2x5Igo="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 3
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/automated-security-fixes
    method: GET
  response:
    body: '{"enabled":true,"paused":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 4
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/dependabot/alerts?per_page=100&state=open
    method: GET
  response:
    body: '[{"number":21,"state":"open","dependency":{"package":{"ecosystem":"npm","name":"lodash"},"manifest_path":"package.json","scope":"runtime"},"security_advisory":{"ghsa_id":"GHSA-aaaa-bbbb-cccc","severity":"high","summary":"Prototype pollution in lodash"},"security_vulnerability":{"package":{"ecosystem":"npm","name":"lodash"},"severity":"high","vulnerable_version_range":"< 4.17.21","first_patched_version":{"identifier":"4.17.21"}},"created_at":"2026-07-10T00:00:00Z","updated_at":"2026-07-26T00:00:00Z","html_url":"https://github.com/acme/reverted/security/dependabot/21"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 5
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/dependabot/alerts?per_page=100&state=fixed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 6
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/pulls?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 7
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/pulls?per_page=100&state=closed
    method: GET
  response:
    body: '[{"number":91,"state":"closed","title":"Bump lodash from 4.17.20 to 4.17.21","user":{"login":"dependabot[bot]"},"created_at":"2026-07-24T12:00:00Z","merged_at":"2026-07-25T12:00:00Z","head":{"ref":"dependabot/npm_and_yarn/lodash-4.17.21","sha":"ff9101"},"base":{"ref":"main"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 90
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/reverted/commits?author=dependabot%5Bbot%5D&per_page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
