---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/orgs/acme/repos?per_page=100
    method: GET
  response:
    body: '[{"id":1,"full_name":"acme/empty","name":"empty","owner":{"login":"acme"},"archived":false},{"id":2,"full_name":"acme/attic","name":"attic","owner":{"login":"acme"},"archived":true}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.github.com/orgs/acme/repos?per_page=100&page=2>; rel="next"
    status: 200 OK
    code: 200
- id: 1
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/orgs/acme/repos?page=2&per_page=100
    method: GET
  response:
    body: '[{"id":3,"full_name":"acme/empty2","name":"empty2","owner":{"login":"acme"},"archived":false}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 2
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty
    method: GET
  response:
    body: '{"id":1,"name":"empty","full_name":"acme/empty","owner":{"login":"acme"},"default_branch":"main","archived":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 3
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/git/trees/main?recursive=1
    method: GET
  response:
    body: '{"sha":"0a1b2c","tree":[],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 4
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/contents/.github/dependabot.yml?ref=main
    method: GET
  response:
    body: '{"message":"Not Found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
- id: 5
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/automated-security-fixes
    method: GET
  response:
    body: '{"enabled":true,"paused":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 6
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/dependabot/alerts?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 7
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/dependabot/alerts?per_page=100&state=fixed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 8
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/pulls?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 9
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/pulls?per_page=100&state=closed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 10
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty/commits?author=dependabot%5Bbot%5D&per_page=1
    method: GET
  response:
    body: '{"message":"Git Repository is empty."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 409 Conflict
    code: 409
- id: 11
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2
    method: GET
  response:
    body: '{"id":1,"name":"empty2","full_name":"acme/empty2","owner":{"login":"acme"},"default_branch":"main","archived":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 12
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/git/trees/main?recursive=1
    method: GET
  response:
    body: '{"sha":"0a1b2c","tree":[],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 13
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/contents/.github/dependabot.yml?ref=main
    method: GET
  response:
    body: '{"message":"Not Found"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 404 Not Found
    code: 404
- id: 14
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/automated-security-fixes
    method: GET
  response:
    body: '{"enabled":true,"paused":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 15
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/dependabot/alerts?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 16
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/dependabot/alerts?per_page=100&state=fixed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 17
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/pulls?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 18
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/pulls?per_page=100&state=closed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 19
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/empty2/commits?author=dependabot%5Bbot%5D&per_page=1
    method: GET
  response:
    body: '{"message":"Git Repository is empty."}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 409 Conflict
    code: 409
