---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev
        method: GET
      response:
        body: '{"id":1304489471,"node_id":"R_kgDOTcDt_w","name":"necofuryai.dev","full_name":"necofuryai/necofuryai.dev","private":false,"owner":{"login":"necofuryai","id":72294870,"node_id":"MDQ6VXNlcjcyMjk0ODcw","avatar_url":"https://avatars.githubusercontent.com/u/72294870?v=4","gravatar_id":"","url":"https://api.github.com/users/necofuryai","html_url":"https://github.com/necofuryai","followers_url":"https://api.github.com/users/necofuryai/followers","following_url":"https://api.github.com/users/necofuryai/following{/other_user}","gists_url":"https://api.github.com/users/necofuryai/gists{/gist_id}","starred_url":"https://api.github.com/users/necofuryai/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/necofuryai/subscriptions","organizations_url":"https://api.github.com/users/necofuryai/orgs","repos_url":"https://api.github.com/users/necofuryai/repos","events_url":"https://api.github.com/users/necofuryai/events{/privacy}","received_events_url":"https://api.github.com/users/necofuryai/received_events","type":"User","user_view_type":"public","site_admin":false},"html_url":"https://github.com/necofuryai/necofuryai.dev","description":null,"fork":false,"url":"https://api.github.com/repos/necofuryai/necofuryai.dev","forks_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/forks","keys_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/keys{/key_id}","collaborators_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/teams","hooks_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/hooks","issue_events_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/issues/events{/number}","events_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/events","assignees_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/assignees{/user}","branches_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/branches{/branch}","tags_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/tags","blobs_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/refs{/sha}","trees_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/trees{/sha}","statuses_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/statuses/{sha}","languages_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/languages","stargazers_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/stargazers","contributors_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/contributors","subscribers_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/subscribers","subscription_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/subscription","commits_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/commits{/sha}","git_commits_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/commits{/sha}","comments_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/comments{/number}","issue_comment_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/issues/comments{/number}","contents_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/contents/{+path}","compare_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/compare/{base}...{head}","merges_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/merges","archive_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/downloads","issues_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/issues{/number}","pulls_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/pulls{/number}","milestones_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/milestones{/number}","notifications_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/labels{/name}","releases_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/releases{/id}","deployments_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/deployments","created_at":"2026-07-18T00:37:27Z","updated_at":"2026-07-30T00:54:12Z","pushed_at":"2026-07-30T00:54:09Z","git_url":"git://github.com/necofuryai/necofuryai.dev.git","ssh_url":"git@github.com:necofuryai/necofuryai.dev.git","clone_url":"https://github.com/necofuryai/necofuryai.dev.git","svn_url":"https://github.com/necofuryai/necofuryai.dev","homepage":null,"size":16233,"stargazers_count":0,"watchers_count":0,"language":"Astro","has_issues":true,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"mit","name":"MIT License","spdx_id":"MIT","url":"https://api.github.com/licenses/mit","node_id":"MDc6TGljZW5zZTEz"},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"has_pull_requests":true,"pull_request_creation_policy":"all","topics":[],"visibility":"public","forks":0,"open_issues":0,"watchers":0,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":false,"allow_rebase_merge":false,"allow_auto_merge":true,"delete_branch_on_merge":true,"allow_update_branch":false,"use_squash_pr_title_as_default":false,"squash_merge_commit_message":"COMMIT_MESSAGES","squash_merge_commit_title":"COMMIT_OR_PR_TITLE","merge_commit_message":"PR_TITLE","merge_commit_title":"MERGE_MESSAGE","security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"enabled"},"dependabot_security_updates":{"status":"enabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}},"network_count":0,"subscribers_count":0}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"c871e345bc51c808a41ec11e88964c4d7b25e9541445fde9da9815b08f1760f3"
            Last-Modified:
                - Thu, 30 Jul 2026 00:54:12 GMT
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; param=scarlet-witch-preview; format=json, github.mercy-preview; param=baptiste-preview.nebula-preview; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4963"
            X-Ratelimit-Reset:
                - "1785561378"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "37"
        status: 200 OK
        code: 200
        duration: 387.660917ms
    - id: 1
      request:
        host: api.github.com
        form:
            recursive:
                - "1"
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/git/trees/main?recursive=1
        method: GET
      response:
        body: '{"sha":"cb8948e8e611a4fc13868b3b6877dd2e7efa6878","url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/trees/cb8948e8e611a4fc13868b3b6877dd2e7efa6878","tree":[{"path":".agents","mode":"040000","type":"tree","sha":"94e4f263a883cf1468c1c2948782e679683d5993","url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/trees/94e4f263a883cf1468c1c2948782e679683d5993"},{"path":".agents/skills","mode":"040000","type":"tree","sha":"8ab06e7d48503f7974e81d4510eb04b8ddf8ba9c","url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/trees/8ab06e7d48503f7974e81d4510eb04b8ddf8ba9c"},{"path":".agents/skills/cloudflare-static-site","mode":"040000","type":"tree","sha":"368381242[...]
    - id: 2
      request:
        host: api.github.com
        form:
            ref:
                - main
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/contents/.github/dependabot.yml?ref=main
        method: GET
      response:
        body: '{"name":"dependabot.yml","path":".github/dependabot.yml","sha":"ed90b96d601342f30fecbc2ab88b9249a1e61ae2","size":2192,"url":"https://api.github.com/repos/necofuryai/necofuryai.dev/contents/.github/dependabot.yml?ref=main","html_url":"https://github.com/necofuryai/necofuryai.dev/blob/main/.github/dependabot.yml","git_url":"https://api.github.com/repos/necofuryai/necofuryai.dev/git/blobs/ed90b96d601342f30fecbc2ab88b9249a1e61ae2","download_url":"https://raw.githubusercontent.com/necofuryai/necofuryai.dev/main/.github/dependabot.yml","type":"file","content":"dmVyc2lvbjogMgoKdXBkYXRlczoKICAtIHBhY2thZ2UtZWNvc3lzdGVtOiAi\nbnBtIgogICAgZGlyZWN0b3J5OiAiLyIKICAgIHNjaGVkdWxlOgogICAgICBp\nbnRlcnZhbDogIndlZWtseSIKICAgICAgZGF5OiAibW9uZGF5IgogICAgICB0\naW1lOiAiMDY6MDAiCiAgICAgIHRpbWV6b25lOiAiQXNpYS9Ub2t5byIKICAg\nIG9wZW4tcHVsbC1yZXF1ZXN0cy1saW1pdDogNQogICAgdmVyc2lvbmluZy1z\ndHJhdGVneTogImluY3JlYXNlLWlmLW5lY2Vzc2FyeSIKICAgIGNvb2xkb3du\nOgogICAgICBkZWZhdWx0LWRheXM6IDcKICAgICAgc2VtdmVyLW1ham9yLWRh\neXM6IDE0CiAgICAgIHNlbXZlci1taW5vci1kYXlzOiA3CiAgICAgIHNlbXZl\nci1[...]
    - id: 3
      request:
        host: api.github.com
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/automated-security-fixes
        method: GET
      response:
        body: '{"enabled":true,"paused":false}'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - W/"b0cd6d3c56c3230f339789072321ee88310671c9b7a560e10dabe872e5a81bb6"
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4960"
            X-Ratelimit-Reset:
                - "1785561378"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "40"
        status: 200 OK
        code: 200
        duration: 301.767166ms
    - id: 4
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
            state:
                - open
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/dependabot/alerts?per_page=100&state=open
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"6885f7b97d6b96f231120cea33f56afd5183798f72623dd698fbf2352362f2f6"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4968"
            X-Ratelimit-Reset:
                - "1785559509"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "32"
        status: 200 OK
        code: 200
        duration: 324.291541ms
    - id: 5
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
            state:
                - fixed
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/dependabot/alerts?per_page=100&state=fixed
        method: GET
      response:
        body: "[{\"number\":74,\"state\":\"fixed\",\"dependency\":{\"package\":{\"ecosystem\":\"npm\",\"name\":\"tar\"},\"manifest_path\":\"pnpm-lock.yaml\",\"scope\":\"runtime\",\"relationship\":\"transitive\"},\"security_advisory\":{\"ghsa_id\":\"GHSA-r292-9mhp-454m\",\"cve_id\":null,\"summary\":\"node-tar: Uncontrolled recursion in mapHas/filesFilter allows uncatchable stack-overflow DoS via crafted long-path tar with member selection\",\"description\":\"## Summary\\n`node-tar` (npm `tar`) contains an uncontrolled-recursion stack-exhaustion DoS in the internal `mapHas` helper used by `filesFilter`. When a consumer calls `tar.t(...)` or `tar.x(...)` with a non-empty member-selection list, node-tar installs a filter that closes over the recursive `mapHas` (`src/list.ts:33-44`). `mapHas` [...]
    - id: 6
      request:
        host: api.github.com
        form:
            author:
                - dependabot[bot]
            per_page:
                - "1"
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/commits?author=dependabot%5Bbot%5D&per_page=1
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"6885f7b97d6b96f231120cea33f56afd5183798f72623dd698fbf2352362f2f6"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4959"
            X-Ratelimit-Reset:
                - "1785561378"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "41"
        status: 200 OK
        code: 200
        duration: 337.512166ms
    - id: 7
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
            state:
                - open
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/pulls?per_page=100&state=open
        method: GET
      response:
        body: '[]'
        headers:
            Content-Type:
                - application/json; charset=utf-8
            Etag:
                - '"6885f7b97d6b96f231120cea33f56afd5183798f72623dd698fbf2352362f2f6"'
            X-Github-Api-Version-Selected:
                - "2022-11-28"
            X-Github-Media-Type:
                - github.v3; format=json
            X-Ratelimit-Limit:
                - "5000"
            X-Ratelimit-Remaining:
                - "4958"
            X-Ratelimit-Reset:
                - "1785561378"
            X-Ratelimit-Resource:
                - core
            X-Ratelimit-Used:
                - "42"
        status: 200 OK
        code: 200
        duration: 389.581791ms
    - id: 8
      request:
        host: api.github.com
        form:
            per_page:
                - "100"
            state:
                - closed
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/necofuryai/necofuryai.dev/pulls?per_page=100&state=closed
        method: GET
      response:
        body: "[{\"url\":\"https://api.github.com/repos/necofuryai/necofuryai.dev/pulls/87\",\"id\":4165258547,\"node_id\":\"PR_kwDOTcDt_874RM0z\",\"html_url\":\"https://github.com/necofuryai/necofuryai.dev/pull/87\",\"diff_url\":\"https://github.com/necofuryai/necofuryai.dev/pull/87.diff\",\"patch_url\":\"https://github.com/necofuryai/necofuryai.dev/pull/87.patch\",\"issue_url\":\"https://api.github.com/repos/necofuryai/necofuryai.dev/issues/87\",\"number\":87,\"state\":\"closed\",\"locked\":false,\"title\":\"chore: add Codex router skill for Cloudflare static site\",\"user\":{\"login\":\"necofuryai\",\"id\":72294870,\"node_id\":\"MDQ6VXNlcjcyMjk0ODcw\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/72294870?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/necofuryai\",\"html_url\":\"https://github.com/necofuryai\",\"followers_url\":\"https://api.github.com/users/necofuryai/followers\",\"following_url\":\"https://api.github.com/users/necofuryai/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/necofuryai/gists{/gist_id}\[...]
