---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/truncated
    method: GET
  response:
    body: '{"id":30,"name":"truncated","full_name":"acme/truncated","owner":{"login":"acme"},"default_branch":"main","archived":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 1
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/truncated/git/trees/main?recursive=1
    method: GET
  response:
    body: '{"sha":"deadbeef","tree":[{"path":"package.json","type":"blob"}],"truncated":true}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
