---
version: 2
interactions:
- id: 0
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling
    method: GET
  response:
    body: '{"id":9,"name":"rolling","full_name":"acme/rolling","owner":{"login":"acme"},"default_branch":"main","archived":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 1
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/git/trees/main?recursive=1
    method: GET
  response:
    body: '{"sha":"5e6f7a","tree":[{"path":"package.json","type":"blob"},{"path":".github/dependabot.yml","type":"blob"}],"truncated":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 2
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/contents/.github/dependabot.yml?ref=main
    method: GET
  response:
    body: '{"type":"file","encoding":"base64","name":"dependabot.yml","path":".github/dependabot.yml","content":"dmVyc2lvbjogMgp1cGRhdGVzOgogIC0gcGFja2FnZS1lY29zeXN0ZW06ICJucG0iCiAgICBkaXJlY3Rvcnk6ICIvIgogICAgc2NoZWR1bGU6CiAgICAgIGludGVydmFsOiAid2Vla2x5Igo="}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 3
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/automated-security-fixes
    method: GET
  response:
    body: '{"enabled":true,"paused":false}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 4
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/dependabot/alerts?per_page=100&state=open
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 5
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/dependabot/alerts?per_page=100&state=fixed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 6
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/pulls?per_page=100&state=open
    method: GET
  response:
    body: '[{"number":70,"state":"open","title":"Bump axios from 0.21.0 to 0.21.1","user":{"login":"dependabot[bot]"},"created_at":"2026-07-29T12:00:00Z","head":{"ref":"dependabot/npm_and_yarn/axios-0.21.1","sha":"e70a01"},"base":{"ref":"main"}}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 7
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/pulls?per_page=100&state=closed
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 8
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/pulls/70
    method: GET
  response:
    body: '{"number":70,"state":"open","title":"Bump axios from 0.21.0 to 0.21.1","user":{"login":"dependabot[bot]"},"created_at":"2026-07-29T12:00:00Z","mergeable":true,"mergeable_state":"clean","head":{"ref":"dependabot/npm_and_yarn/axios-0.21.1","sha":"e70a01"},"base":{"ref":"main"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 9
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/pulls/70/reviews?per_page=100
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 10
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/commits/e70a01/check-runs
    method: GET
  response:
    body: '{"total_count":1,"check_runs":[{"id":1,"status":"completed","conclusion":"success"}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
- id: 90
  request:
    host: api.github.com
    body: ""
    headers: {}
    url: https://api.github.com/repos/acme/rolling/commits?author=dependabot%5Bbot%5D&per_page=1
    method: GET
  response:
    body: '[]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status: 200 OK
    code: 200
